---
import CenteredTitle from "../../components/CenteredTitle.astro";
import Footer from "../../components/Footer.astro";
import Meta, { OgTypes } from "../../components/Meta.astro";
import NavigationBar from "../../components/navigation/NavigationBar.astro";
import TagCloud from "../../components/TagCloud.astro";
import "./../../styles/global.css";
import "./../../styles/style.css";
import Default from "../../layouts/Default.astro";
---

<Default
	title="Seite mit allen Tags"
	description="Hier siehst du alle Tags"
	ogType={OgTypes.website}
>
	<section class="pt-1">
		<CenteredTitle id="tags" text="Tags" />
	</section>
	<TagCloud />
</Default>

<!--<html lang="de">-->
<!--	<head>-->
<!--		<Meta-->
<!--			title="Seite mit allen Tags"-->
<!--			description="Hier siehst du alle Tags"-->
<!--			ogType={OgTypes.website}-->
<!--		/>-->
<!--		<meta name="robots" content="noindex" />-->
<!--	</head>-->
<!--	<body data-pagefind-ignore>-->
<!--		<NavigationBar />-->
<!--		<main>-->
<!--			<CenteredTitle id="tags" text="Tags" />-->
<!--			<TagCloud />-->
<!--			<Footer />-->
<!--		</main>-->
<!--	</body>-->
<!--</html>-->
