---
import Default from "../layouts/Default.astro";
import CenteredTitle from "../components/CenteredTitle.astro";
import { SITE_TITLE } from "../consts";
import { OgTypes } from "../components/Meta.astro";
---

<Default
	title={SITE_TITLE + " - Seite nicht gefunden"}
	description={"Leider ist unter der URL nichts zu finden."}
	ogType={OgTypes.website}
>
	<section class="pt-1">
		<CenteredTitle text={"Seite nicht gefunden"} id="seitentitel" />
	</section>
</Default>
