---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION_SHORT } from "../consts";
import BreakingNewsTicker from "../components/BreakingNewsTicker.astro";
import NavigationBar from "../components/navigation/NavigationBar.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION_SHORT} />
  </head>
  <body>
    <NavigationBar isStartPage={true} />
    <main>
      <BreakingNewsTicker />

      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quas totam
      eos dolores alias, voluptatibus asperiores culpa ratione eum sunt, corrupti
      fugiat inventore beatae expedita ex officiis perspiciatis nihil vitae. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae esse quibusdam
      nisi dignissimos, blanditiis itaque suscipit placeat cum laborum, nam ab voluptate
      nobis unde corporis ipsa in sequi quisquam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Similique qui perspiciatis veritatis illum cum aliquam obcaecati
      alias nam veniam hic. Sequi odio, reiciendis ratione vero ad molestias. Animi,
      similique nam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed
      rerum facilis hic exercitationem non dolor, possimus beatae quae consequuntur
      a, perspiciatis ullam sequi sunt ex, ut minus alias corporis illo! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Id earum modi optio nesciunt officia
      labore itaque, veniam, amet aspernatur asperiores iure tempora sed porro enim
      dolorum! Tempora facilis veritatis labore. Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Hic asperiores ut quidem, optio dicta magnam quisquam dignissimos
      sapiente suscipit officiis exercitationem corrupti, perspiciatis consectetur
      quos recusandae temporibus aperiam soluta. Doloribus.
    </main>
    <Footer />
  </body>
</html>
