---
import { getCollection } from "astro:content";
import BreakingNewsTicker from "../components/BreakingNewsTicker.astro";
import Main from "../layouts/Main.astro";
import BlogPostCard from "../components/BlogPostCard.astro";

const posts = (await getCollection("blog"))
  .filter((e) => !e.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const latestPost = posts[0];
const latestPosts = [posts[1], posts[2], posts[3], posts[4]];
---

<Main>
  <section
    id="breaking-news-section"
    class="container shadow-black p-1 mt-1 ml-1 mr-1 round-xlarge"
  >
    <BreakingNewsTicker />
  </section>

  <div id="blogposts-container" class="m-1">
    <section id="special-blogposts-section">
      <section id="latest-blogpost-section">
        <BlogPostCard blogpost={latestPost} infotext="NEW" />
      </section>
    </section>
    <section id="latest-blogposts-section">
      <div class="">
        <h2>Latest 4 Blogposts</h2>
        <div id="latest-blogposts-block" class="">
          {
            latestPosts.map((a) => (
              <div class="latest-blogpost-container mt-1">
                <BlogPostCard blogpost={a} />
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</Main>

<style>
  h2 {
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  #blogposts-container {
    container-type: inline-size;
    container-name: blogposts-container;
    display: flex;
    flex-wrap: wrap;
  }
  #special-blogpost-section,
  #latest-blogpost-section {
    display: flex;
    flex-direction: column;
  }
  @container blogposts-container (width >= 800px) {
    #special-blogposts-section {
      width: 50%;
    }
    #latest-blogposts-section {
      width: 50%;
      margin-top: 1rem;
      #latest-blogposts-block {
        margin-left: 1rem;
      }
    }
  }
  @container blogposts-container (width < 800px) and (width >= 600px) {
    #special-blogposts-section {
      width: 70%;
    }
    #latest-blogposts-section {
      width: 30%;
      #latest-blogposts-block {
        margin-left: 1rem;
      }
    }
  }
  @container blogposts-container (width < 600px) {
    #special-blogposts-section {
      width: 100%;
    }
    #latest-blogposts-section {
      margin-top: 3rem;
      width: 100%;
    }
  }
</style>
<script>
  import { getRandomBlogPosts } from "../features/blogpost/random-blogpost";

  getRandomBlogPosts(1).then((e) => {
    console.log(e);
  });
</script>
