<div id="comment-form-container" class="container" data-pagefind-ignore>
  <h3>Kommentar hinzufügen</h3>
  <div id="new-comment-form"></div>
</div>
<div id="comments-container">
  <h3>Bisherige Kommentare</h3>
  <div id="comments"></div>
</div>
<style is:inline>
  #comment-form-container,
  #comments-container {
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    width: 100%;
    border: 1px solid var(--primary-color);

    & .comment-form {
      display: flex;
      flex-direction: column;
    }

    & label {
    }

    & .username,
    .text {
      padding: 1rem;
      font-size: 1.25rem;
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }

    & #submit-comment-btn,
    #load-comments-btn,
    .absenden-btn,
    .reply-btn,
    .abbrechen-btn,
    .send-reply-btn {
      font-size: 1.25rem;
      cursor: pointer;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 16px;
    }

    & .comment-form-btn-block {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      margin-bottom: 0.75rem;
    }
  }

  .comment-block {
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    border: 1px solid var(--primary-color);
    padding: 1rem;
  }
  .comment-text {
    margin-top: 10px;
    white-space: pre-wrap;
  }
  .comment-username {
    font-weight: bold;
    font-size: larger;
    margin-right: 10px;
  }
  .comment-date {
    font-size: 14px;
    color: var(--primary-color);
  }
  .reply-btn,
  .abbrechen-btn {
    font-weight: bold;
    background-color: white;
    border: 1px solid lightgray;
  }
  .reply-btn:hover,
  .abbrechen-btn:hover {
    background-color: lightgray;
  }
  .reply-btn,
  .abbrechen-btn,
  .send-reply-btn {
    font-size: 1.25rem;
    cursor: pointer;
  }
  .comment-reply-input-block {
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 10px;
  }
  .comment-reply-input,
  .comment-reply-label {
    width: 100%;
    font-size: 1rem;
    display: block;
    margin-bottom: 6px;
  }

  .comment-replies {
    margin-left: 20px;
  }
</style>
