<div class="sidenav" data-pagefind-ignore>
  <div class="like-container flex column center-x center-y">
    <span class="aside-btn" id="like-btn">&#x1F44D;</span>
    <span id="like-counter">0</span>
    <a href="#comments-container">
      <span class="asside-btn" id="to-comments">&#x1F5E8;</span>
    </a>
    <span id="comments-counter">0</span>
  </div>
</div>

<style>
  a {
    text-decoration: none;
  }
  /* The sidebar menu */
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 40px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5rem;
  }

  .aside-btn {
    font-size: 2rem;
    cursor: pointer;
  }

  #like-counter,
  #comments-counter {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
  }

  #to-comments {
    font-size: 1.5rem;
    color: var(--element-water-dark);
    font-weight: bold;
  }
</style>
