<button class="round-xlarge pl-2 pr-2"><slot /></button>
<style>
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		/* border-radius: 1rem; */
		/* padding: 0.5rem 2rem; */
		/* align-self: center; */
		/* justify-self: center; */
	}
</style>
