---
type Props = {
	id: string;
	text: string;
};

const { id, text } = Astro.props;
---

<h1 id={id} data-pagefind-meta="title">
	{text}
</h1>

<style>
	h1 {
		font-size: 48px; /* Fallback für ältere Browser */
		font-size: clamp(2rem, 6vw, 4rem);
		text-align: center;
		margin-top: 0rem;
		color: var(--accent);
		line-height: 1.2;
		margin-bottom: 2rem;
	}
</style>
