---
import Matomo from "./Matomo.astro";
const yyyymmdd = function (date: Date) {
  var mm = date.getMonth() + 1; // getMonth() is zero-based
  var dd = date.getDate();

  return [
    date.getFullYear(),
    (mm > 9 ? "" : "0") + mm,
    (dd > 9 ? "" : "0") + dd,
  ].join("");
};
const today = new Date();
const version = yyyymmdd(today);
---

<footer>
  <div>
    <span>
      &copy; {today.getFullYear()} Kramer. All rights reserved. Version {
        version
      }
    </span>
  </div>
</footer>
<Matomo />

<style>
  footer {
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--accent));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>
<style is:inline>
  *:has(+ footer) {
    padding-bottom: 3rem;
  }
</style>
