<div id="search"></div>
<div>
    <dialog></dialog>
</div>

<script is:inline>
    // import { PagefindUI } from "@pagefind/default-ui";

    window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({ element: "#search", resetStyles: false });
    });

    window.addEventListener("keydown", (event) => {
        if (event.key === "/" || event.key === ".") {
            console.log("you pressed the slash");
            event.preventDefault();
            document.querySelector("div#search input").focus();
        }
    });
</script>
<style>
    #search {
        min-height: 4rem;

        button {
            padding: 1rem;
            font-size: 1rem;
            font-weight: bolder;
        }
    }
</style>

<style is:global>
    :root {
        --pagefind-ui-border: #000000;
        --pagefind-ui-border-radius: 20px;
        --pagefind-ui-image-box-ratio: 1 / 2;
        --pagefind-ui-scale: 1;
        --pagefind-ui-text: var(--accent);
        --pagefind-ui-font: "Open Sans", sans-serif;
    }
    .dark {
        --pagefind-ui-primary: #eeeeee;
        --pagefind-ui-text: #eeeeee;
        --pagefind-ui-background: #152028;
        --pagefind-ui-border: #152028;
        --pagefind-ui-tag: #152028;
    }
</style>
