---
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";
import NavigationBar from "../components/navigation/NavigationBar.astro";
import { SITE_DESCRIPTION_SHORT, SITE_TITLE } from "../consts";
// import "./../styles/global.css";
// import "./../styles/root.css";
---

<!doctype html>
<html lang="de">
	<head>
		<Meta title={SITE_TITLE} description={SITE_DESCRIPTION_SHORT} />
	</head>
	<body data-pagefind-ignore>
		<NavigationBar isStartPage={true} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
